html, body{
    margin: 0; height: 100%; overflow: hidden
}

body{
    background-color: green;
}

.navbar{
    height: 150px;
}

.navbar a, .navbar img{
    margin-left: 40px;
    font-size: 3rem;
    height: 70px;
    width: 70px;
}

.name-container{
    width: 50vh;
    margin: auto;
    margin-top: 30vh;
}

.main-container{
height: 80%;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: column;
}

.player-container , .dealer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-cards-container, .dealer-cards-container{
    display: flex;
    flex-direction: row;
}

.main-container .card{
    height: 20vh;
    margin: 10px;
}

#game-over-modal{
    top: 40%;
}