html, body{
    margin: 0; height: 100%; overflow: hidden
}

body{
    background-color: green;
}

.navbar{
    height: 12vh;
}

.navbar a, .navbar img{
    margin-left: 40px;
    font-size: 3rem;
    height: 70px;
    width: 70px;
}

.name-container{
    width: 50vh;
    margin: auto;
    margin-top: 30vh;
}

.main-container{
height: 80%;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
position: relative;
}

.main-hand , .dealer-container , .hand{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.player-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-cards-container, .dealer-cards-container, .player-split-cards-container{
    display: flex;
}

.main-container .card{
    max-height: 20vh;
    max-width: 12vh;
    margin: 10px;
}

.pot{
    border: 1px solid black;
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coins{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.chips-img{
    max-width: 80px;
    max-height: 80px;
}

.chip-25{
    max-width: 80px;
    max-height: 80px;
}

.chip-50{
    max-width: 200px;
    max-height: 200px;
}

.chips-img-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

#game-over-modal{
    top: 40%;
}


@media (max-width:760px){
    .main-container .card{
        max-height: 15vh;
        max-width: 8vh;
        margin: 5px;
    }

    .main-container{
        max-height: 70%;
        justify-content: space-evenly;
        position:static;
    }

    .coins{
        bottom: 0;
    }

    .player-cards-container, .dealer-cards-container, .player-split-cards-container{
        margin: 20px;
    }

.pot{
    max-height: 20%;
}

    .chips-img{
        max-width: 40px;
        max-height: 40px;
    }
}